%div{id: "comment-#{comment.id}", class: "d-flex"}
  .flex-shrink-0
    %img.rounded-circle{alt: "...", src: "https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png", width: "45", height: "40"}/
  .ms-3
    .fw-bold
      = User.find_by(id: comment.user_id).class
    = comment.body
