%p
  %b Commenter:
  = comment.commenter
%p
  %b Comment:
  = comment.body
- if policy(@article).destroy?
  = link_to 'Destroy Comment', [comment.article, comment], |
    confirm: 'Are you sure?',                              |
    method: :delete                                        |
