= form_for [@article, @article.comments.build] do |f|
  .form-group
    = f.label :body
    = f.text_area :body, required: true, class: "form-control w-50"
    .valid-feedback Valid
    .invalid-feedback Invalid
  .actions
    = f.submit class: "btn btn-success"
