= form_for [@article, @article.comments.build], html: { class: "mb-4" } do |f|
  .form-group
    = f.text_area :body, required: true, placeholder: "Join the discussion and leave a comment!", class: "form-control"
    .valid-feedback Valid
    .invalid-feedback Invalid
  .actions
    = f.submit class: "btn btn-success"
