- content_for :title, 'Blog | Home'

= link_to 'New Article', new_article_path, data: { bs_toggle: 'modal', bs_target: '#newArticleModal', remote: true }, class: "btn btn-success"

-# new article modal
#newArticleModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "newArticleModalLabel", tabindex: "-1"}
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %h5#newArticleModalLabel.modal-title New Article
        %button.btn-close{"aria-label" => "Close", "data-bs-dismiss" => "modal", type: "button"}
      #newArticleForm

-# show article modal
#showArticleModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "showArticleModalLabel", tabindex: "-1"}
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %h5#showArticleModalLabel.modal-title Show Article
        %button.btn-close{"aria-label" => "Close", "data-bs-dismiss" => "modal", type: "button"}
      #showArticle

-# edit article modal
#editArticleModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "editArticleModalLabel", tabindex: "-1"}
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %h5#editArticleModalLabel.modal-title Edit Article
        %button.btn-close{"aria-label" => "Close", "data-bs-dismiss" => "modal", type: "button"}
      #editArticleForm

#articles
  - @articles.each do |article|
    = render article
