%p#notice= notice

= link_to 'New Article', new_article_path, class: "btn btn-success", data: { bs_toggle: 'modal', bs_target: '#newArticleModal', remote: true }

-# new article modal
#newArticleModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "newArticleModalLabel", tabindex: "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %h5#newArticleModalLabel.modal-title New Article
        %button.btn-close{"aria-label" => "Close", "data-bs-dismiss" => "modal", type: "button"}
      #newArticleForm

-# edit article modal
#editArticleModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "editArticleModalLabel", tabindex: "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %h5#editArticleModalLabel.modal-title Edit Article
        %button.btn-close{"aria-label" => "Close", "data-bs-dismiss" => "modal", type: "button"}
      #editArticleForm

#articles
  %h1 Articles
  - @articles.each do |article|
    = render 'article', article: article
